.navbar-cleanrode {
  justify-content: space-between;
  background: white;
  border: 5px solid red;
}

.navbar-cleanrode .navbar-collapse {
  flex-grow: 0;
}

.navbar-cleanrode .navbar-brand img {
  width: 90px;
}


// blue = #003467
// light-blue = #00d5f6
// green = #08aa2e
// light-green = #77fdaf
// medium-blue = #18afd1
// medium-dark-blue = #045482


//     font-family: 'Amarante', cursive;

//     font-family: 'Quicksand', sans-serif;
// <link href="https://fonts.googleapis.com/css?family=Amarante|Quicksand:300,400,700&display=swap" rel="stylesheet">



